Options -MultiViews -Indexes

# Try mod_rewrite first
<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>

# Fallback if mod_rewrite is not available
<IfModule !mod_rewrite.c>
  FallbackResource /index.php
</IfModule>
